h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4em;
    background: -webkit-linear-gradient(top, red, orangered);
    width: 35%;
    border-radius: 10px;
    margin: 15px auto;
    text-align: center;
    padding: 15px;
    color: rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 5px 5px 10px;
    text-shadow: white 2px 2px 3px;
}